{% extends "base.html" %}

{% block navbar %}
<ul>
  <li><a href="/">Inicio</a></li>
  <li class="active" ><a href="/GestionExpedientes/">Expedientes</a></li>
  <li><a href="{% url 'gestionExp:listarCita' %}">Agenda Citas</a></li>
  <li><a href="#">Inventario</a></li>
  <li><a href="/auth/settings/">Modificar Perfil</a></li>
  <li><a href="/auth/logout/">Salir</a></li>
  <img  align="middle" width="75" height="75" src = "{% if user.avatar %}{{ user.avatar.url}} {% endif %}">
</ul>
{% endblock %}

{% block content %}
<div class="tratamiento">
  <div class="container center">
    <div class="about-grids">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <p style="color: green"><u>{{ message }}</u></p>
        {% else %}
        <p style="color: red"><u>{{ message }}</u> </p>
        {% endif %}
        {% endfor %}
        <p></p>
        {% endif %}
        <div class="contact-form" align="center">
            <h1>CONSULTA</h1>
            <h2>{{expediente}}</h2>
            <table>
                <tr><td><br></td></tr>
                <tr><td><br></td></tr>
                <tr>
                    <td align="right"><b>Sexo: </b></td>
                    <td>{{expediente.paciente.sexo}}</td>
                </tr>

                <tr><td><br></td></tr>
                <tr>
                    <td align="right"><b>Edad: </b></td>
                    <td>{{edad}}</td>
                </tr>

                <tr><td><br></td></tr>
                <tr>
                    <td align="right"><b>Observaciones Expediente: </b></td>
                    <td>{{expediente.observacionExp}} </td>
                </tr>

                <tr><td><br></td></tr>
                <form method="post">{% csrf_token %}
                    <div class="contact-form-row">
                        <tr>
                            <td align="right">
                                {{ form.doctor.label_tag }}
                            </td>
                            <td>
                                {{ form.doctor }}
                            </td>
                        </tr>
                        {% if form.doctor.help_text %}
                        <small style="color: grey">{{ form.doctor.help_text|safe }}</small>
                        {% endif %}
                        {% for error in form.doctor.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                    </div>


                <tr><td><br></td></tr>
                <div class="contact-form-row">
                    <tr>
                        <td align="right">{{ form1.tratamientos.label_tag }}</td>
                        <td>{{ form1.tratamientos }}</td>
                    </tr>
                    {% if form1.tratamientos.help_text %}
                    <tr>
                        <td></td>
                        <td width="100px"><small style="color: grey">{{ form1.tratamientos.help_text|safe }}</small></td>
                    </tr>
                    {% endif %}
                    {% for error in form1.tratamientos.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                </div>

                <tr><td><br></td></tr>
                <div class="contact-form-row">
                    <tr>
                        <td align="right">{{ form.observacionCons.label_tag }}</td>
                        <td>{{ form.observacionCons}}</td>
                    </tr>
                    {% if form1.tratamientos.help_text %}
                    <small style="color: grey">{{ form.observacionCons.help_text|safe }}</small>
                    {% endif %}
                    {% for error in form1.tratamientos.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                </div>


                <tr><td><br></td></tr>
                <tr>
                    <td></td>
                    <td align="center"><h2>ODONTOGRAMA</h2></td>
                </tr>

                <tr>
                  <td align="center">{{odontograma.id}}
                    {% if odontograma != None %}
                      <a type="button" class="more-btn" onclick="return popup('{% url 'odontograma:odontograma_detail' odontograma.id %}')">Ver Odontograma</a>
                    {% else %}
                      <a type="button" class="more-btn" onclick="return popup('{% url 'odontograma:odontograma' expediente.paciente.id %}')">{{ondotograma}}Crear Odontograma</a>
                    {% endif %}
                  </td>
                </tr>
                <script>
                function popup(page) {
                  var w = window.open(page, "popup_test", "titlebar=no, menubar=no, statusbar=no, toolbar=no");
                  w.resizeTo(1000,500);
                }
                </script></td>
                <tr>
                    <td></td>
                    <td align="center"><input value="Enviar" type="submit"></td>
                </tr>

                </form>
            </table>
        </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
