{% extends "base.html" %}

{% block navbar %}
<ul>
  <li><a href="/">Inicio</a></li>
  <li class="active" ><a href="/GestionExpedientes/">Expedientes</a></li>
  <li><a href="#">Agenda Citas</a></li>
  <li><a href="#">Inventario</a></li>
  <li><a href="/auth/settings/">Modificar Perfil</a></li>
  <li><a href="/auth/logout/">Salir</a></li>
  <img  align="middle" width="75" height="75" src = "{% if user.avatar %}{{ user.avatar.url}} {% endif %}">
</ul>
{% endblock %}

{% block content %}

<div class="tratamiento">
  <div class="container center" align="center">
      <div class="contact-form">
        <div>
            <form action="/odo/consultas/" method="get">
                <input type="submit" value="Consultas"  id="frm1_submit" />
            </form>
        </div>
      </div>
    <table>
        <tr>
            <td><h1>Consulta de:</h1></td>
            <td><h1>{{ consulta.paciente.paciente.nombresPaciente }}</h1></td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td align="right">
                <b>Doctor que atendio: </b>
            </td>
            <td>
                {{consulta.doctor}}
            </td>
        </tr>

        <tr><td><br></td></tr>
        <tr>
            <td align="right">
                <b>Fecha: </b>
            </td>
            <td>
                {{consulta.fechaConsulta}}
            </td>
        </tr>

        <tr><td><br></td></tr>
        <tr>
            <td align="right">
                <b>Hora Inicio: </b>
            </td>
            <td>
                {{consulta.horaInicio}}
            </td>
        </tr>

        <tr><td><br></td></tr>
        <tr>
            <td align="right">
                <b>Hora Final: </b>
            </td>
            <td>
                {{consulta.horaFinal}}
            </td>
        </tr>

        <tr><td><br></td></tr>
        <tr>
            <td align="right">
                <b>Observaciones: </b>
            </td>
            <td>
                {{consulta.observacionCons}}
            </td>
        </tr>
        <tr><td><br></td></tr>
    </table>
    <a class="more-btn" href="{% url 'odontograma:verConsulta' consulta.id %}"><span class="glyphicon glyphicon-pencil"></span> Modificar Consulta</a>
  </div>
</div>
<br>
{% endblock %}
