{% extends "app/base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Editar Consulta</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Editando {{consulta}}</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label_tag }} {% if field.field.required %}<span class="required">*</span>{% endif %}
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     {% if field.field.widget.input_type == "select" %}
                     <select name="{{field.html_name}}" id="{{field.id_for_label}}" class="select2_single form-control">
                       <option value="">---</option>
                       {% for choice in field.field.choices %}
                         <option value="{{choice.0}}" {% if field.value == choice.0 %}selected{% endif %}>{{choice.1}}</option>
                       {% endfor %}
                     </select>
                     {% else %}
                     <input type="{{field.field.widget.input_type}}" id="{{ field.id_for_label }} {{field.field.widget.attrs.id}}"
                     {% if field.max_length %}}maxlength="{{field.max_length}}"{% endif %} name="{{field.name}}"
                     {% if field.field.required %} required="required"{% endif %}
                     {% if field.help_text %}
                     placeholder="{{ field.help_text|safe }}"
                     {% endif %}
                     class="{{field.field.widget.attrs.class}} form-control col-md-7 col-xs-12"
                     {% if field.value != None %}{% if field.field.widget.attrs.id %}value = "{{field.value|date:"d/m/Y"}}"{% else %}value = "{{field.value}}"{% endif %}{% endif %} >
                      {% endif %}
                  </div>
                  {% for error in field.errors %}
                              <strong>{{ error|escape }}</strong>
                          {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="tratamiento">
  <div class="container center" align="center">
      <div class="contact-form">
        <div>
            <form action="/odo/consultas/" method="get">
                <input type="submit" value="Consultas"  id="frm1_submit" />
            </form>
        </div>
      </div>
    <table>
        <tr>
            <td><h1>Consulta de:</h1></td>
            <td><h1>{{ consulta.paciente.paciente.nombresPaciente }}</h1></td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td align="right">
                <b>Doctor que atendio: </b>
            </td>
            <td>
                {{consulta.doctor}}
            </td>
        </tr>

        <tr><td><br></td></tr>
        <tr>
            <td align="right">
                <b>Fecha: </b>
            </td>
            <td>
                {{consulta.fechaConsulta}}
            </td>
        </tr>

        <tr><td><br></td></tr>
        <tr>
            <td align="right">
                <b>Hora Inicio: </b>
            </td>
            <td>
                {{consulta.horaInicio}}
            </td>
        </tr>

        <tr><td><br></td></tr>
        <tr>
            <td align="right">
                <b>Hora Final: </b>
            </td>
            <td>
                {{consulta.horaFinal}}
            </td>
        </tr>

        <tr><td><br></td></tr>
        <tr>
            <td align="right">
                <b>Observaciones: </b>
            </td>
            <td>
                {{consulta.observacionCons}}
            </td>
        </tr>
        <tr><td><br></td></tr>
    </table>
    <a class="more-btn" href="{% url 'odontograma:verConsulta' consulta.id %}"><span class="glyphicon glyphicon-pencil"></span> Modificar Consulta</a>
  </div>
</div>
<br>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
