{% extends "app/base_site.html" %}

{% block title %} Ver Consulta {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Ver Consulta</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Viendo {{consulta}}</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Consulta del paciente {{consulta.paciente.paciente}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Doctor que atendió</th>
                      <td>{{consulta.doctor}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Fecha</th>
                      <td>{{consulta.fechaConsulta}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Hora Inicio</th>
                      <td>{{consulta.horaInicio}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Hora Final</th>
                      <td>{{consulta.horaFinal|default_if_none:'---'}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Observaciones</th>
                      <td>{{consulta.observacionCons|default_if_none:'---'}}</td>
                    </tr>
                  </tbody>
                </table>
                  <a type="button"  class="btn btn-app" href="{% url 'odontograma:verConsulta' consulta.id %}"><span class="glyphicon glyphicon-pencil"></span> Modificar Consulta</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
