{% extends "base.html" %}

{% block navbar %}
<ul>
  <li><a href="/">Inicio</a></li>
  <li class="active" ><a href="/GestionExpedientes/">Expedientes</a></li>
  <li><a href="#">Agenda Citas</a></li>
  <li><a href="#">Inventario</a></li>
  <li><a href="/auth/settings/">Modificar Perfil</a></li>
  <li><a href="/auth/logout/">Salir</a></li>
  <img  align="middle" width="75" height="75" src = "{% if user.avatar %}{{ user.avatar.url}} {% endif %}">
</ul>
{% endblock %}

{% block content %}

<div class="tratamiento">
  <div class="container center">
    <div class="about-grids">
      <div class="contact-form">
        <div class="col-md-14 about-left" align="center">
        <form action="/GestionExpedientes/expedientes/" method="get">
          <input type="submit" value="Expedientes"  id="frm1_submit" />
        </form>
      </div>
    </div>
      <div class="col-12">
        <h1 align="center">{{ expediente }}</h1>
        <br>
        <table align="center">
            <tr>
                <td align="right"><b>Nombres:</b></td>
                <td>{{expediente.paciente.nombresPaciente}}</td>
            </tr>
            <tr><td><br></td></tr>

            <tr>
                <td align="right"><b>Apellidos:</b></td>
                <td>{{expediente.paciente.apellidosPaciente}}</td>
            </tr>
            <tr><td><br></td></tr>

            <tr>
                <td align="right"><b>Ocupacion:</b></td>
                <td>{{expediente.paciente.ocupacion}}</td>
            </tr>
            <tr><td><br></td></tr>

            <tr>
                <td align="right"><b>Sexo:</b></td>
                <td>{{expediente.paciente.sexo}}</td>
            </tr>
            <tr><td><br></td></tr>

            <tr>
                <td align="right"><b>Edad: </b></td>
                <td> {{ahorita}} años</td>
            </tr>
            <tr>
                <td align="right"><b>Fecha de Nacimiento:</b></td>
                <td>{{expediente.paciente.fechaNacimiento}}</td>
            </tr>
            <tr><td><br><br></td></tr>

            <tr>
                <td align="right"><b>Direccion Casa:</b></td>
                <td>{{expediente.paciente.direccionCasa}}</td>
            </tr>
            <tr><td><br></td></tr>

            <tr>
                <td  align="right"><b>Direccion Trabajo:</b></td>
                <td>{{expediente.paciente.direccionTrabajo }}</td>
            </tr>
            <tr><td><br></td></tr>

            <tr>
                <td align="right"><b>Telefono Casa:</b></td>
                <td>{{expediente.paciente.telefonoCasa}}</td>
            </tr>
            <tr><td><br></td></tr>

            <tr>
                <td align="right"><b>Telefono Trabajo:</b></td>
                <td>{{expediente.paciente.telefonoTrabajo}}</td>
            </tr>
            <tr><td><br></td></tr>

            {% if expediente.paciente.referencia %}
            <tr>
                <td align="right"><b>Telefono Casa:</b></td>
                <td>{{expediente.paciente.referencia}}</td>
            </tr>
            <tr><td><br></td></tr>
            {% endif %}

            {% if expediente.tratamientos %}

            <tr>
                <td align="right"><b>Tratamientos:</b></td>

            </tr>
            {% for tratamiento in expediente.tratamientos.all  %}
            <tr>
                <td></td>
                <td><b>{{tratamiento.nombreTratamiento}}</b>: {{tratamiento.precioBase}}</td>
            </tr>
            {% endfor %}
            <tr><td><br></td></tr>
            {% endif %}

            <tr>
                <td align="right"><b>Fecha Creacion:</b></td>
                <td>{{expediente.fechaCreacion}}</td>
            </tr>
            <tr><td><br></td></tr>

            <tr>
                <td align="right"><b>Total Pagado:</b></td>
                <td>{{expediente.pagado}}</td>
            </tr>
            <tr><td><br></td></tr>

            <tr>
                <td align="right"><b>Total debe:</b> </td>
                <td>{{expediente.saldo}}</td>
            </tr>
            <tr><td><br></td></tr>

            <tr>
                <td align="right"><b>Observaciones: </b> </td>
                <td>{{expediente.observacionExp}}</td>
            </tr>
            <tr><td><br></td></tr>

            <tr>
                <td><td>
                    <a class="more-btn" href="{% url 'odontograma:odoList' expediente.paciente.id %}">
                  Ver Odontogramas
                    </a>
                </td></td>
                <td>
                    <a class="more-btn" href="{% url 'gestionExp:editarExpediente' expediente.id %}">
                        <span class="glyphicon glyphicon-pencil"></span> Modificar Expediente
                    </a>
                </td>
            </tr>
        </table>
    </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
