{% extends "app/base_site.html" %}


{% block title %} {{expediente}} {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>{{expediente}}</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>{{expediente}}</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                  <div class="profile_img">
                    <div id="crop-avatar">
                      <!-- Current avatar -->
                      <img class="img-responsive avatar-view" src="/static/images/picture.jpg" alt="Avatar" title="Change the avatar">
                    </div>
                  </div>
                  <h3>{{expediente.paciente}}</h3>

                  <ul class="list-unstyled user_data">
                    <li><i class="fa {% if expediente.paciente.sexo == 'M' %}fa-male {% else %}fa-female{% endif %} user-profile-icon"></i> {{expediente.paciente.sexo|default_if_none:"---"}}
                    </li>

                    <li><i class="fa fa-birthday-cake user-profile-icon"></i>{{expediente.paciente.fechaNacimiento}} ({{ahorita}} años)
                    </li>

                    <li><i class="fa fa-map-marker user-profile-icon"></i> {{expediente.paciente.direccionCasa|default_if_none:"---"}}
                    </li>
                    <li><i class="fa fa-mobile user-profile-icon"></i>{{expediente.paciente.telefonoCasa|default_if_none:"---"}}
                    </li>

                    <li>
                      <i class="fa fa-briefcase user-profile-icon"></i> {{expediente.paciente.ocupacion|default_if_none:"---"}}
                    </li>
                    <li><i class="fa fa-phone user-profile-icon"></i>{{expediente.paciente.telefonoTrabajo|default_if_none:"---"}}
                    </li>

                    <li class="m-top-xs">
                      <i class="fa fa-external-link user-profile-icon"></i>
                      {{expediente.paciente.direccionTrabajo|default_if_none:"---"}}
                    </li>
                  </ul>

                  <a class="btn btn-success" href="{% url 'GestionExpedientes:editarExpediente' expediente.id %}"><i class="fa fa-edit m-right-xs"></i>Modificar Expediente</a>
                  <a class="btn btn-success" href="{% url 'odontograma:odontograma_detail' expediente.odontograma.id %}">  Ver Odontograma </a>
                  <br />

                  <!-- start skills -->
                  <h4>Cobros</h4>
                  <ul class="list-unstyled user_data">
                    <li>
                      <p>Total pagado: ${{expediente.pagado|default_if_none:"0"}}</p>
                    </li>
                    <li>
                      <p>Total Debe:  ${{expediente.saldo|default_if_none:"0"}}</p>
                    </li>
                  </ul>
                  <!-- end of skills -->

                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">

                  <div class="profile_title">
                    <div class="col-md-6">
                      <p class="lead">Observaciones:</p>
                      <p>{{expediente.observacionExp}}</p>
                    </div>
                  </div>
                  <!-- start of user-activity-graph -->
                  <!-- end of user-activity-graph -->

                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Procedimientos Hechos</a>
                      </li>
                      <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Citas</a>
                      </li>
                      <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Consultas</a>
                      </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                        <!-- start recent activity -->
                        <ul class="messages">
                          {%for pro in procedimientos%}
                          <li>

                            <div class="message_date">
                              <h3 class="date text-info">{{pro.tratamiento.precioBase}}</h3>
                              <p class="month">Costo</p>
                            </div>
                            <div class="message_wrapper">
                              <h4 class="heading">{{pro.tratamiento.nombreTratamiento}}</h4>
                              <blockquote class="message">{{pro.diagnostico}}</blockquote>
                              <br />
                            </div>
                          </li>
                          {%endfor%}
                        </ul>
                        <!-- end recent activity -->

                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                        <!-- start user projects -->
                        <table class="data table table-striped no-margin">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Dia</th>
                              <th class="hidden-phone">Hora</th>
                              <th>Asunto</th>
                              <th>Estado</th>
                            </tr>
                          </thead>
                          <tbody>
                            {%for cita in citas%}
                            <tr>
                              <td>{{cita.id}}</td>
                              <td>{{cita.fechaCita}}</td>
                              <td>{{cita.horaCita}}</td>
                              <td class="hidden-phone">{{cita.asuntoCita}}</td>
                              <td class="vertical-align-mid">
                                {{cita.estado}}
                              </td>
                            </tr>
                            {%endfor%}
                          </tbody>
                        </table>
                        <!-- end user projects -->

                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                        <table class="data table table-striped no-margin">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Dia</th>
                              <th class="hidden-phone">Duración</th>
                              <th>Observaciones</th>
                            </tr>
                          </thead>
                          <tbody>
                              {%for cita in consultas%}
                              <tr>
                                <td>{{cita.id}}</td>
                                <td>{{cita.fechaConsulta}}</td>
                                <td>{{cita.horaInicio}}</td>
                                <td class="hidden-phone">{{cita.observacionCons}}</td>
                              </tr>
                              {%endfor%}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
