{% extends "app/base_site.html" %}

{% block title %} Modificar Expediente de {{expediente}}{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Modificar Expediente</h3>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Modificando expediente de {{expediente}}</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <form autocomplete="off" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post"> {% csrf_token %}
                  {% for field in form %}
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ field.label }}">{{ field.label_tag }} {% if field.field.required %}<span class="required">*</span>{% endif %}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                       {% if field.field.widget.input_type == "select" %}
                       <select name="{{field.html_name}}" id="{{field.id_for_label}}" class="select2_single form-control">
                         <option value="">---</option>
                         {% for choice in field.field.choices %}
                           <option value="{{choice.0}}" {% if field.value == choice.0 %}selected{% endif %}>{{choice.1}}</option>
                         {% endfor %}
                       </select>
                       {% else %}
                       <input type="{{field.field.widget.input_type}}" id="{{ field.id_for_label }} {{field.field.widget.attrs.id}}"
                       {% if field.max_length %}}maxlength="{{field.max_length}}"{% endif %} name="{{field.name}}"
                       {% if field.field.required %} required="required"{% endif %}
                       {% if field.help_text %}
                       placeholder="{{ field.help_text|safe }}"
                       {% endif %}
                       class="{{field.field.widget.attrs.class}} form-control col-md-7 col-xs-12"
                       {% if field.value != None %}{% if field.field.widget.attrs.id %}value = "{{field.value|date:"d/m/Y"}}"{% else %}value = "{{field.value}}"{% endif %}{% endif %} >
                        {% endif %}
                    </div>
                    {% for error in field.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                  </div>
              {% endfor %}

              {% for field in form1 %}
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ field.label }}">{{ field.label_tag }} {% if field.field.required %}<span class="required">*</span>{% endif %}
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                   {% if field.field.widget.input_type == "select" %}
                   <select name="{{field.html_name}}" id="{{field.id_for_label}}" class="select2_single form-control">
                     <option value="none">---</option>
                     {% for choice in field.field.choices %}
                       <option value="{{choice.0}}">{{choice.1}}</option>
                     {% endfor %}
                   </select>
                   {% else %}
                   {% if field.field.widget.template_name == "django/forms/widgets/textarea.html" %} <textarea id="id_observaciones" class="form-control"></textarea>{% else %}
                   <input type="{{field.field.widget.input_type}}" id="{{ field.id_for_label }}"
                   {% if field.max_length %}}maxlength="{{field.max_length}}"{% endif %} name="{{field.name}}"
                   {% if field.field.required %} required="required"{% endif %}
                   {% if field.help_text %}
                   placeholder="{{ field.help_text|safe }}"
                   {% endif %}
                   class="{{field.field.widget.attrs.class}} form-control col-md-7 col-xs-12">
                   {% endif %}
                    {% endif %}
                </div>
                {% for error in field.errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
              </div>
          {% endfor %}
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script type="text/javascript">
			$(document).ready(function(){
				$('.telefono').mask('0000-0000', {placeholder: "Formato: xxxx-xxxx"});
			});
		</script>
    <script>
    $( function() {
      $( ".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy', maxDate: '0' }).val();
    } );
    </script>

    {% if messages %}
    {% for message in messages %}
    {{message.tag}}
      {% if message.tags == 'success' %}
      <script>
            $('.hola').ready(function() {
              new PNotify({
                              title: '¡Exito!',
                              text: '{{message}}',
                              type: 'success',
                              styling: 'bootstrap3'
                          });
            });
    </script>
      {% else %}
      <script>
            $('.hola').ready(function() {
              new PNotify({
                              title: '¡Oh, no!',
                              text: '{{message}}',
                              type: '{{message.tags}}',
                              styling: 'bootstrap3'
                          });
            });
    </script>
      {% endif %}
    {% endfor %}
    {% endif %}
{% endblock javascripts %}
