
{% extends "app/base_site.html" %}

{% block title %} Expediente {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Inicio</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Buscar</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Expedientes</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="row">
                  <a href="{% url 'GestionExpedientes:nuevoExpediente' %}">
                  <div class="animated flipInY col-lg-4 col-md-4 col-sm-7 col-xs-13">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-plus-circle"></i>
                      </div>
                      <div class="count">Nuevo</div>

                      <h3>Expediente</h3>
                      <p>Presione para crear un expediente.</p>
                    </div>
                  </div>
                </a>
                <a href="{% url 'GestionExpedientes:listarExpedientes' %}">
                  <div class="animated flipInY col-lg-4 col-md-4 col-sm-7 col-xs-13">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-search"></i>
                      </div>
                      <div class="count">Ver</div>

                      <h3>Expediente</h3>
                      <p>Presione para ver los expedientes.</p>
                    </div>
                  </div>
                  </a>
                  <a href="{% url 'GestionExpedientes:listar2Expedientes' %}">
                  <div class="animated flipInY col-lg-4 col-md-4 col-sm-7 col-xs-13">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-pencil"></i>
                      </div>
                      <div class="count">Modificar</div>

                      <h3>Expedientes</h3>
                      <p>Presione para modificar expedientes.</p>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Consultas</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="row">
                  <a href="{% url 'odontograma:nuevaConsulta' %}">
                  <div class="animated flipInY col-lg-5 col-md-5 col-sm-8 col-xs-14">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-plus-circle"></i>
                      </div>
                      <div class="count">Nueva</div>

                      <h3>Consulta</h3>
                      <p>Presione para iniciar una nueva Cita.</p>
                    </div>
                  </div>
                </a>
                <a href="{% url 'odontograma:listarConsultas' %}">
                  <div class="animated flipInY col-lg-5 col-md-5 col-sm-8 col-xs-14">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-search"></i>
                      </div>
                      <div class="count">Ver</div>

                      <h3>Consultas</h3>
                      <p>Presione para ver las consultas.</p>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Citas</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="row">
                  <a href="{% url 'odontograma:nuevaConsulta' %}">
                  <div class="animated flipInY col-lg-5 col-md-5 col-sm-8 col-xs-14">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-plus-circle"></i>
                      </div>
                      <div class="count">Nueva</div>

                      <h3>Consulta</h3>
                      <p>Presione para iniciar una nueva Cita.</p>
                    </div>
                  </div>
                </a>
                <a href="{% url 'odontograma:listarConsultas' %}">
                  <div class="animated flipInY col-lg-5 col-md-5 col-sm-8 col-xs-14">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-search"></i>
                      </div>
                      <div class="count">Ver</div>

                      <h3>Consultas</h3>
                      <p>Presione para ver las consultas.</p>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Inventario</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="row">
                  <a href="{% url 'odontograma:nuevaConsulta' %}">
                  <div class="animated flipInY col-lg-5 col-md-5 col-sm-8 col-xs-14">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-plus-circle"></i>
                      </div>
                      <div class="count">Nueva</div>

                      <h3>Consulta</h3>
                      <p>Presione para iniciar una nueva Cita.</p>
                    </div>
                  </div>
                </a>
                <a href="{% url 'odontograma:listarConsultas' %}">
                  <div class="animated flipInY col-lg-5 col-md-5 col-sm-8 col-xs-14">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-search"></i>
                      </div>
                      <div class="count">Ver</div>

                      <h3>Consultas</h3>
                      <p>Presione para ver las consultas.</p>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
