{% extends "app/base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Reporte General de Pacientes</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
      
              <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                  Reportes
                </p>
                 <h4 class="panel-title" align="center">  Clinica Merliot<br>Fecha de Emision:{{date}} &nbsp;&nbsp;&nbsp;&nbsp; Doctor: {{doctor.nombreDoctor}}  &nbsp;&nbsp;&nbsp;&nbsp;Numero de pagina 1/1<br> Detalle General de pacientes</h4>
              <br>
                
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="/" method="get" align ="center">{% csrf_token %}
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <button type="submit" value="regresar" name="Submit" id="frm1_submit" class="btn btn-success">Regresar</button>
                    </div>
                  </div>

                </form>
                


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
<br>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}\
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
  <!-- PNotify -->
  <script src="/static/vendors/pnotify/dist/pnotify.custom.min.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.buttons.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>
  {% if messages %}
  {% for message in messages %}
  {{message.tag}}
    {% if message.tags == 'success' %}
    <script>
          $('.hola').ready(function() {
            new PNotify({
                            title: '¡Exito!',
                            text: '{{message}}',
                            type: 'success',
                            styling: 'bootstrap3'
                        });
          });
  </script>
    {% else %}
    <script>
          $('.hola').ready(function() {
            new PNotify({
                            title: '¡Oh, no!',
                            text: '{{message}}',
                            type: '{{message.tags}}',
                            styling: 'bootstrap3'
                        });
          });
  </script>
    {% endif %}
  {% endfor %}
  {% endif %}
{% endblock javascripts %}
