{% extends 'base.html' %}


{% block navbar %}
<ul>
  <li ><a href="/">Inicio</a></li>
  <li ><a href="/GestionExpedientes/">Expedientes</a></li>
  <li><a href="#">Agenda Citas</a></li>
  <li><a href="#">Inventario</a></li>
  <li class="active"><a href="/auth/settings/">Modificar Perfil</a></li>
  <li><a href="/auth/logout/">Salir</a></li>
  <img  align="middle" width="75" height="75" src = "{% if user.avatar %}{{ user.avatar.url}} {% endif %}">
</ul>
{% endblock %}

{% block content %}


<div class="Expedientes">
  <div class="container">
    <div class="top-grids">
      <div class="container">
        <h1 align="center" >Modifica tus datos {{ request.user.doctor}}!</h1>

            <h2>Informacion basica</h2>
            <form method="post" action='{{ action_url }}' enctype='multipart/form-data'>
              {% csrf_token %}
              {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'success' %}
              <p style="color: green"> <u>{{ message }}</u></p>
                  {% else %}
              <p style="color: red"><u>{{ message }}</u> </p>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% for error in form.non_field_errors %}
              <div class="alert alert-danger" >
                <strong style="color: red">{{ error|escape }}</strong>
              </div>
              {% endfor %}
              {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                      <strong style="color: red">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                <div class="12u$">
                  {{ field.label_tag }}
                  {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text|safe }}</small>
                  {% endif %}
                  {{ field }}
               </div>
            {% endfor %}
              <button class="button special big" type="submit">Modificar</button>
            </form>
      </div>
		</div>
  </div>
</div>

{% endblock %}
