{% load static %}
{% load staticfiles %}
{% load i18n %}

<!DOCTYPE HTML>

<html>
	<head>

		<title>Sistema Informatico Gestion Odontologica Clinica Dental Merliot </title>

		<link rel="shortcut icon" type="image/png" href="{% static 'images/logo.jpg' %}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  		<link rel="stylesheet" href="{% static 'css/local.css'%}">
		<link href="{% static "css/bootstrap.css" %}" rel='stylesheet' type='text/css' />

		<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<script type="text/javascript">
			$(document).ready(function(){
				$('.telefono').mask('0000-0000', {placeholder: "Ingrese Telefono"});
			});
		</script>
		

		{% block javascript %}

		{% endblock %}

		 <!-- Custom Theme files -->
		<link href="{% static "css/style.css" %}" rel='stylesheet' type='text/css' />
   		 <!-- Custom Theme files -->

		 <!-- webfonts -->
   		 <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
   		 <!-- webfonts -->

		 <style>

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}


     	 </style>
	</head>

	<body>
		<!-- header -->
		<div class="header" >

			<!-- container -->
			<div class="container  ">

				<!-- logo -->
				<div class="logo">
					<a href="/"><img align="middle" src="{% static "images/logo.jpg" %}" width="150" height="150" title="clinicaDentalMerliot" /></a>
				</div>
				<!-- logo -->

				<!-- top-nav -->
				<div class="top-nav center">
					<span class="menu"> </span>
					{% block navbar %}

					{% endblock %}
				</div>
				<!-- top-nav -->

				<!-- script-for-nav -->
				<script>
					$(document).ready(function(){
						$("span.menu").click(function(){
							$(".top-nav ul").slideToggle(300);
						});
					});
				</script>
				<!-- script-for-nav -->

			</div>
			<!-- /container -->

		</div>
		<!-- /header -->

          {% block content%}{% endblock %}
		  {% block body%}{% endblock %}

		<!-- team-grids-caption -->
		<div class="team-grids-caption">
			<div class="container">
				<div class="team-grids-caption-left">
					<h4>Contactenos</h4>
					<p>Si tiene algun problema llame al: 7226-9345</p>
				</div>
				<div class="team-grids-caption-right">
					<a class="team-btn" href="#">Contact</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- team-grids-caption -->

		<!-- footer -->
		<div class="footer">
			<div class="container">
				<p class="copy-right">Grupo 03 de la materia de Diseño de Sistemas</p>
				<br>
				<p class="copy-right" >Miembros:</p>
				<br>
				<ul class="copy-right">
					<li><p class="copy-right">Carlos Cativo</p></li>
					<li><p class="copy-right">Melvin Herrera</p></li>
					<li><p class="copy-right">Reynaldo Navarro</p></li>
					<li><p class="copy-right">Cristian Osegueda</p></li>
					<li><p class="copy-right">Luis Sorto</p></li>
				</ul>
			</div>
		</div>
		<!-- /footer -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
