{% extends "app/base_site.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} Detalle  {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Detalle Tratamiento</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Detalle Tratamiento</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>

                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="col-md-12 r">


                <table class="table table-bordered center" align="center">

                  <thead align ="center">

                    <tr align ="center">
                      <th align ="center">Status</th>
                      <th align ="center">Pieza</th>
                      <th align ="center">Cara</th>
                      <th align ="center">Tratamiento</th>
                      <th align ="center">Odontograma</th>

                    </tr>

                  </thead>

                  <tbody align ="center">

                    <tr>
              <td ><span class="label">{{ procedimiento.get_status_display }}</span></td>
                      {% with 'img/piezas/'|add:procedimiento.pieza|add:'.jpg' as image_static %}
                      <td>{{ procedimiento.pieza }}<img src="{% static image_static %}" alt="{{procedimiento.pieza}}" width="28"></td>
                      {% endwith %}
                      <td>{{ procedimiento.get_cara_display }}</td>
                      <td>{{ procedimiento.tratamiento }}</td>

                      <td>{{procedimiento.odontograma.fechaCreacion}}</td>

                    </tr>

                  </tbody>

                </table>
                <div class="col-md-14 m">
                <table class="table table-bordered center" align="center">

                  <thead align ="center">

                    <tr align ="center">
                      <th align ="center">Diagnostico</th>
                      <th align ="center">Notas</th>

                    </tr>

                  </thead>

                  <tbody align ="center">

                    <tr>
                      <td>{{ procedimiento.diagnostico }}</td>

                      <td>{{procedimiento.odontograma.notas}}</td>

                    </tr>

                  </tbody>

                </table>
  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script>
  $(function() {
    $.each($('.label'), function(){
      var status = $(this);
      if(status.text() == 'Recomendado') {
        status.addClass(' label-warning');
      } else if(status.text() == 'Autorizado') {
        status.addClass(' label-primary');
      } else if(status.text() == 'En Proceso') {
        status.addClass(' label-info');
      } else {
        status.addClass(' label-default');
      }
    })
  })
  </script>
{% endblock javascripts %}
