{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block navbar %}
<ul>
  <li class="active"><a href="/">Inicio</a></li>
  <li ><a href="/GestionExpedientes/">Expedientes</a></li>
  <li><a href="#">Agenda Citas</a></li>
  <li><a href="#">Inventario</a></li>
  <li><a href="/auth/settings/">Modificar Perfil</a></li>
  <li><a href="/auth/logout/">Salir</a></li>
  <img  align="middle" width="75" height="75" src = "{% if user.avatar %}{{ user.avatar.url}} {% endif %}">
</ul>
{% endblock %}

{% block content %}
<div class="container center">
  <div class="about-grids">
    <div class="contact-form">
      <div class="col-md-14 about-left">
<h2  align ="center">Detalle de Odontograma #{{ odontograma.id }}</h2>

<div class="row">

  <div class="col-md-8 r">

  {% if odontograma.procedimiento_set.all %}
  <table class="table table-bordered">

    <thead align ="center">

      <tr align ="center">

        <th align ="center">Pieza</th>
        <th align ="center">Cara</th>
        <th align ="center">Tratamiento</th>
        <th align ="center">Status</th>
        <th >&nbsp;</th>

      </tr>

    </thead>

    <tbody align ="center">

      {% for procedimiento in odontograma.procedimiento_set.all %}
      <tr>

        {% with 'img/piezas/'|add:procedimiento.pieza|add:'.jpg' as image_static %}
        <td>{{ procedimiento.pieza }}<img src="{% static image_static %}" alt="{{procedimiento.pieza}}" width="28"></td>
        {% endwith %}
        <td>{{ procedimiento.get_cara_display }}</td>
        <td>{{ procedimiento.tratamiento }}</td>
        <td ><span class="label">{{ procedimiento.get_status_display }}</span></td>
        <td><a href="{% url 'odontograma:detalleProcedimiento' procedimiento.id %}" class="btn btn-default">Ver</a></td>
        
      </tr>
      {% endfor %}

    </tbody>

  </table>
  {% endif %}

  </div>

  <div class="col-md-4">

    <div class="panel panel-default">

      <table class="table">

        <tr>
          <th>Medico:</th>
          <td>{{ odontograma.medico }}</td>
        </tr>

        <tr>
          <th>Paciente:</th>
          <td>{{ odontograma.paciente }}</td>
        </tr>

        <tr>
          <th>Observaciones:</th>
          <td>{{ odontograma.notas }}</td>
        </tr>

        <tr>
          <th>Fecha Creacion:</th>
          <td>{{ odontograma.fechaCreacion}}</td>
        </tr>

      </table>

    </div>

  </div>

</div>
</div>

</div></div>

</div>
{% endblock content %}

{% block javascript %}
<script>
$(function() {
  $.each($('.label'), function(){
    var status = $(this);
    if(status.text() == 'Recomendado') {
      status.addClass(' label-warning');
    } else if(status.text() == 'Autorizado') {
      status.addClass(' label-primary');
    } else if(status.text() == 'En Proceso') {
      status.addClass(' label-info');
    } else {
      status.addClass(' label-default');
    }
  })
})
</script>
{% endblock javascript %}
